.form-control{
	width: 30% !important;
}
.goHere{
	color:red;
}

.loginForm{
padding-left: 40%;
padding-top: 5%;
}
.indexClass{
padding-left: 36.5%;
padding-top: 5%;
}
.indexHeader{
	color: blue;
}

.regClass{
padding-left: 40%;
padding-top: 5%;
}

.welcomeClass{
padding-left: 40% !important;
padding-top: 5% !important;	
}